<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Extract words</title>
</head>
<style>
    div {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 1rem;
    }
    #btn-clean {
        background-color: red;
        color: white;
        font-weight: bolder;
        border-radius: 5px;
    }
    #btn-submit {
        background-color: green;
        color: white;
        font-weight: bolder;
        border-radius: 5px;
    }
</style>
<body>
    <center>
        <h1>eeem77</h1>
        <span>Extract data price</span>
    </center>
    <hr>
    <div>    
        <form action="submit" method="post">
            <div>
                <input placeholder="Numbers dropdown" type="text" name="numDropdown" id="numDropdown">
                <input placeholder="Modal dropdown" type="text" name="modalDropdown" id="modalDropdown">
                <input placeholder="Modal click" type="text" name="clickModal" id="clickModal">
                <input placeholder="Modal dropdown two" type="text" name="modalDropdownTwo" id="modalDropdownTwo">
                <input placeholder="Modal click two" type="text" name="clickModalTwo" id="clickModalTwo">
                <input placeholder="Paste here url" type="text" name="url" id="url">
                <input placeholder="Number dropdown" type="text" name="modal" id="modal">
            </div>
            <div>
                <input id="btn-submit" type="submit" value="Send">
                <input id="btn-clean" type="button" value="Clean" onclick="cleanForm()">
            </div>
        </form>
    </div>

    <script>
        const cleanForm = () => {
            document.querySelector('#numDropdown').value = ''
            document.querySelector('#modalDropdown').value = ''
            document.querySelector('#clickModal').value = ''
            document.querySelector('#modalDropdownTwo').value = ''
            document.querySelector('#clickModalTwo').value = ''
            document.querySelector('#url').value = ''
            document.querySelector('#modal').value = ''
        }
    </script>
</body>

</html>